<!DOCTYPE html>
<html>
    <head>
        <title>Plant Detector</title>
        <link rel="stylesheet" href="/static/styles/zero.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Irish+Grover&family=Kaushan+Script&display=swap" rel="stylesheet">
    </head>
    <body>
        <section id="banner">
            <img src="/static/image/logo2-new.png" class="logo">
            <div class="banner-text">
                <h1>Leaf Detector</h1><br>
                <p>Easier for us to detect some leaves</p>
                <div class="banner-btn">
                    <a href="login-register.html"><span></span>Login</a>
                </div>
            </div>
        </section>
    </body>
</html>